.generic-content-container{
    p{
        line-height:1.65;
        font-size:1.125rem;
        margin:1.8rem 0;
    }

    p a{/*here we don't nest cause it looks better*/
        font-weight:700; /*regular font weight is about 400*/
    }
}