.large-hero {
    position: relative;
    &__text-content{
        position:absolute;
        /*aligning verticaly*/
        /*w połowie od góry*/
        top:50%;
        /*połowę własnej wysokości do góry*/
        transform: translateY(-50%);
        /*aligning verticaly end*/
        left:0;
        /*aligning horizontaly*/
        width:100%;
        text-align: center;
        /*aligning horizontaly end*/
    }
    &__title{
        font-weight:300;
        color:$mainBlue;
        font-size:4.8rem;
        margin:0; /*to eliminate gap*/
    }
    &__subtitle{
        font-weight:300;
        color:$mainBlue;
        font-size:2.9rem;
        margin:0; /*to eliminate gap*/
    }    
    &__description{
        color:#fff;
        font-size:1.875rem;/*most browsers will have root (<html>) size 16px so 1.5rem is 24px */
        font-weight:100;
        text-shadow:2px 2px 0 rgba(0,0,0,0.1);
        /*aby tekst był przedzielony jak chcemy*/
        max-width:30rem;/*480px*//*zmierzone na ekranie, aby tekst był tak przedzielony jak jest, przeliczone na rem */
        margin-left:auto;
        margin-right:auto;
    }
    
}
